h1{
    color: aqua;
    background-color: blueviolet;
    padding: 50px;
    width: 400px;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
}
.jess{
    background-color: aqua;
    color: aliceblue;
    padding: 15px;
    width: 600px;
    border-radius: 6px;
    margin-bottom: 50px;
    
    
}
#chel{
    background-color: brown;
    color: antiquewhite;
    padding: 25px;
    width: 300px;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-top: 12px ridge rgb(179, 255, 0);
    border-bottom: 12px dotted green; 
}
#chel:hover{
    background-color: black;
    color: aqua ;
}